<section class="card">
    <div class="card-body">
        <table style="width: 100%">
            <tr>
                <td style="text-align: left;">
                    <h1 class="title_section">Notifications</h1>
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="card">
    <div class="card-body">
        <table style="width: 100%">
            <tr>
                <td style="text-align: left;">
                    <h3>
                        <a href="#" class="link-user" title="Notification details">Notification 1</a>
                    </h3>
                    <b>Read</b> Course completed
                    <p>04/15/2020 @ 12:pm (UTC)</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <h3>
                        <a href="#" class="link-user" title="Notification details">Notification 2</a>
                    </h3>
                    <b>New</b> A new Course was assigned to you
                    <p>04/15/2020 @ 12:pm (UTC)</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <h3>
                        <a href="#" class="link-user" title="Notification details">Notification 3</a>
                    </h3>
                    <b>New</b> A new Task was assigned to you
                    <p>04/15/2020 @ 12:pm (UTC)</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <h3>
                        <a href="#" class="link-user" title="Notification details">Notification 4</a>
                    </h3>
                    <b>New</b> Task update
                    <p>04/15/2020 @ 12:pm (UTC)</p>
                </td>
            </tr>
        </table>
    </div>
</section>