<section class="card">
    <div class="card-body">
        <table style="width: 100%">
            <tr>
                <td style="text-align: center;">
                    <p>Appointments</p>
                    <h2 class="title-reports">700</h2>
                </td>
                <td style="text-align: center;">
                    <p>Timesheets</p>
                    <h2 class="title-reports">650</h2>
                </td>
                <td style="text-align: center;">
                    <p>Patients</p>
                    <h2 class="title-reports">1500</h2>
                </td>
                <td style="text-align: center;">
                    <p>Insurances</p>
                    <h2 class="title-reports">10</h2>
                </td>
                <td style="text-align: center;">
                    <p>Invoices</p>
                    <h2 class="title-reports">650</h2>
                </td>
            </tr>
        </table>
    </div>
</section>