<a class="btn btn-primary" href="/admin">&laquo; Admin Menu</a><br><br>

<section class="card">
    <div class="card-body">
        <table style="width: 100%">
            <tr>
                <td style="text-align: left;">
                    <h1 class="title_section">Insurances</h1>
                </td>
            </tr>
        </table>
    </div>
</section>

<!-- SUMMARY DETAILS -->
{{> summary }}
<!-- SUMMARY DETAILS -->